{% extends "main_temp/base.html" %} 
{% block content %}
<h3>i am {{type}} page !!!!!!!!!!!</h3>

<div style="width: 50%; margin: auto">
  {% if messages %} {% for m in messages %}
  <small {% if m.tags %} class="{{m.tags}}" {% endif %}>{{m}}</small>
  {% endfor %}
  {% endif %}

  <form method="post" style="width: 50%; margin: auto" novalidate>
    {% csrf_token %} {% comment %} {{form | crispy}} {% endcomment %} {% for fm in form %}
     {{fm.label_tag}} {{fm}} {{fm.errors | striptags}}
      {% endfor %}
    <br />
    <button class="btn btn-danger">submit</button>
  </form>
</div>

{% endblock %}
